button {
    display: block;
    margin: 20px auto;
    padding: 10px 10px;
    background-color: gainsboro;
    color: black;
    border-radius: 6px;
    transition: .3s linear;
    cursor: pointer;
}

button:hover {
    background-color: gray;
    padding: 15px 15px;
}

div {
    height: 30px;
    width: 30px;
    background-color: black;
    margin: 5px;
    float: left;
    color: whitesmoke;
    text-align: center;
    line-height: 30px;
    border: 2px solid black;
}

.circle {
    background-color: beige;
    border-radius: 50%;
    color: black;
    border: 2px solid black;
}